services:
  postgres:
    image: postgres:15-alpine
    container_name: psgr15
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-postgres}" ]
      interval: 30s
      timeout: 5s
      retries: 10
      start_period: 5s


  app:
    build: .
    image: app_project
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    command: [ "uvicorn", "app_project.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]

  rabbitmq:
    image: rabbitmq:3.13-management
    container_name: rabbitmq
    expose:
      - "5672"
    ports:
      - "15672:15672"
    env_file:
      - .env
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 30s
      timeout: 5s
      retries: 10

  producer:
    build: .
    container_name: producer
    env_file:
      - .env
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: python -m app_project.producer.producer

  consumer:
    build: .
    container_name: consumer
    env_file:
      - .env
    depends_on:
      rabbitmq:
        condition: service_healthy
      postgres:
        condition: service_healthy
    command: python -m app_project.consumer.consumer

volumes:
  pg_data: